<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/output.css">
</head>

<body>
    <div class="container">
        <h1>jsondb</h1>
        <p id="explainer">An open source JSON storage tool for developers in a hurry. Perfect for <span>prototypes</span>, <span>tutorials</span>, and <span>hackathons</span></p>
        <p id="disclaimer">*jsondb is <span>not</span> intended for production or long term use. So don’t do that.</p>
        <div class="keys-containter">
            <div class="response-block">
                <div class="response-header">
                    YOUR CONTAINER
                </div>
                <div class="response-body">
                    <span id="container-id"></span>
                </div>
            </div>

            <div class="response-block">
                <div class="response-header">
                    YOUR API KEY
                </div>
                <div class="response-body">
                    <span id="apikey"></span>
                </div>
            </div>
        </div>
        <div>
            <h3>How it works</h3>
            <p>jsondb allows you to store, read and update JSON data over an HTTP API </p>

            <h4>Store and update json</h4>
            <p class="request-desc">You can store or update a json object into a container by sending a PUT request.</p>
            <div class="alert">
                You must use an api key
            </div>
            <div class="request-block">
                <div class="request-url">
                    <span class="put-label">PUT</span> /:container?apikey={YOUR_KEY}
                </div>
                <div class="request-body">
                    {"hello": "world"}
                </div>
            </div>

            <div class="response-block">
                <div class="response-header">
                    RESPONSE
                </div>
                <div class="response-body">
<pre>{
    "_id":"00000000000000",
    "_createdOn": "2019-10-06T23:27:01.532Z",
    "_collection": null,
    "_updatedOn": "2019-10-06T23:40:15.933Z",
    "content": "{"hello": "world"}"
}</pre>
                </div>
            </div>

            <h4>Retrieve json</h4>
            <p class="request-desc">Retrieve your entire json store by calling your contianers GET endpoint</p>
            <div class="request-block">
                <div class="request-url">
                    <span class="get-label">GET</span> /:container
                </div>
            </div>

            <div class="response-block">
                <div class="response-header">
                    RESPONSE
                </div>
                <div class="response-body">
<pre>[{
    "_id":"00000000000000",
    "_createdOn": "2019-10-06T23:27:01.532Z",
    "_collection": null,
    "_updatedOn": "2019-10-06T23:40:15.933Z",
    "content": {
        hello: "world"
    }
}]</pre>
                </div>
            </div>

            <h4>Create a collection</h4>
            <p class="request-desc">You can group your JSON into collections.</p>
            <div class="alert">
                You must use an api key
            </div>
            <div class="request-block">
                <div class="request-url">
                    <span class="put-label">PUT</span> /:container/:collection?apikey={YOUR_KEY}
                </div>
                <div class="request-body">
                    [{"name": "Tony Stark"}, {"name": "Steve Rogers"}]
                </div>
            </div>

            <div class="response-block">
                <div class="response-header">
                    RESPONSE
                </div>
                <div class="response-body">
<pre>{
    "_id":"00000000000000",
    "_createdOn": "2019-10-06T23:27:01.532Z",
    "_collection": "users",
    "_updatedOn": "2019-10-06T23:40:15.933Z",
    "content": "[
        {"name": "Tony Stark"}, 
        {"name": "Steve Rogers"}
    ]"
}</pre>
                </div>
            </div>

            <h4>Retrieve a collection</h4>
            <p class="request-desc">Retrieve only the json in the specified collection</p>
            <div class="request-block">
                <div class="request-url">
                    <span class="get-label">GET</span> /:container/:collection
                </div>
            </div>

            <div class="response-block">
                <div class="response-header">
                    RESPONSE
                </div>
                <div class="response-body">
<pre>{
    "_id":"00000000000000",
    "_createdOn": "2019-10-06T23:27:01.532Z",
    "_collection": "users",
    "_updatedOn": "2019-10-06T23:40:15.933Z"
    "content": [
        {name: "Tony Stark"},
        {name: "Steve Rogers"}
    ]
}</pre>
                </div>
            </div>
        </div> 
        <div class="footer">
            <a href="https://github.com/alexbrown/jsondb">Created and maintained</a> by <a href="https://alex.design">Alex Brown</a>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="/script.js"></script>
</body>

</html>