body{
  font-family: 'Inconsolata', monospace;
  line-height: 30px;
  color:#606679;
}

h1 {
  font-weight: normal;
  font-size:26px;
}

h1,h3,h4{
  text-decoration: underline;
  margin:0;
}

h4 {
  margin-top:30px;
}

span {
  font-weight: bold;
}

.container {
  display:flex;
  max-width: 500px;
  width:100%;
  margin:auto;
  flex-direction: column;
  padding-top:40px;
}

#explainer {
  font-size:18px;
}

#disclaimer {
  font-size: 14px;
  line-height: 20px;
}

.request-block {
  background:#3c4257;
  border-radius: 6px;
  color:#99a2b0;
  font-size:14px;
}

.request-body{
  background:#4f566b;
  border-radius: 6px;
  color:white;
  padding:4px 10px;
}

.request-url {
  padding:4px 10px;
}

.get-label {
  color:#a0c8f8;
}

.put-label {
  color:#81d393;
}

.request-desc {
  line-height: 20px;
  margin:0;
  margin-bottom:20px;
}

.response-block {
  margin:30px 0;
  background:#f6fafc;
  border-radius: 6px;
  border:1px solid #ededed;
  color:#6f788b
}

.response-header {
  background:#e3e8ed;
  padding:4px 10px;
  font-weight: bold;
}

.response-body span {
  font-weight: normal;
  padding:4px 10px;
}

.footer {
  margin-top:30px;
  margin-bottom:30px;
  font-size:14px;
  border-top:1px solid #6f788b;
}

.alert {
  background:#FFEFB3;
  font-size:14px;
  color:#BB8A43;
  border-radius: 6px;
  padding:4px 10px;
  margin:10 0;
}